
.header-container{
    background-color: black;
    height:7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 35px;
    width: 40px;
    padding:1em;
}

.nav-bar ul{
    list-style-type: none;
}

.nav-bar ul li{
    display: inline;
    padding:1em;
}

.nav-bar ul li a{
    text-decoration: none;
    color: white;
}

.nav-bar ul li a:hover{
    color: blue;

}

.bell{
    display: inline;
    height: 3vh;
    width: 3vh;
    padding-left:1em;
}

.plus{
    display: inline;
    height: 3vh;
    width: 3vh;
    padding-left:2em;
}


.paper-flex-container{
    display:flex;
    flex-direction:row;
    height:600px;
}

.paper-flex-row{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    width:50%;
    height:100vh;
}





.paper{
    background-color: white;
    
    text-align: center;
    width:40%;
   
}

.paper image{
    height:200px;
    width:200px;
}

.paper h2{
    font-size:1em;
    color:black;
}